/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

textarea {
  resize: vertical;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
}

.container {
  max-width: 1750px;
  padding: 0 30px;
  margin: 0 auto;
}

.none {
  display: none;
}

.header {
  min-height: 100vh;
  background-color: #e1edf2;
  background-image: url("./../img/header/header-bg.jpg");
  background-size: cover;
  background-position: center;
}

.header__top {
  padding: 44px 0;
  margin-bottom: 126px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 118px;
       column-gap: 118px;
}

.link {
  color: #114455;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 2px;
  border-bottom: 1px solid #114455;
  transition: border-bottom-color 0.2s ease-in;
}
.link:hover {
  border-bottom-color: red;
  transition: border-bottom-color 0.2s ease-in;
}

.header__content {
  max-width: 1060px;
}

.header__title {
  margin-bottom: 48px;
  max-width: 734px;
  font-weight: 800;
  color: #114555;
  font-size: 80px;
}

.header__text p {
  font-size: 34px;
  font-weight: 500;
  color: #1f1f1f;
  margin-bottom: 72px;
}
.header__text p + .header__text p {
  margin-top: 1em;
}

.case-studies {
  padding: 184px 0;
}

.case-studies__title {
  margin-bottom: 12px;
}

.case-studies__text {
  margin-bottom: 100px;
}

.btn {
  display: inline-block;
  padding: 10px 24px;
  padding-right: 72px;
  border: 1px solid #114455;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #114455;
  position: relative;
}
.btn::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("./../img/.jpg");
  background-image: url("./../img/icons/arrow_right_black.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.btn {
  transition: background-color 0.2s ease-in;
}
.btn:hover {
  background-color: #114455;
  color: #fff;
}
.btn:hover::after {
  background-image: url("./../img/icons/arrow_right_white.svg");
}
.btn:hover {
  transition: background-color 0.2s ease-in;
}
.btn:active {
  top: 1px;
}

.btn--big {
  padding: 14px 32px;
  font-weight: 500;
  padding-right: 80px;
}

.btn--dark::after {
  background-image: url("./../img/icons/arrow_right_black.svg");
}/*# sourceMappingURL=main.css.map */