.header {
    min-height: 100vh; // подгон высоты первого блока под высоту экрана  / 1vh — это всегда ровно 1% от высоты текущего экрана.
    background-color: #e1edf2;
    background-image: url('./../img/header/header-bg.jpg');
    background-size: cover;
    background-position: center;
}



.header__top {
    padding: 44px 0;
    margin-bottom: 126px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

// .nav__logo {}

.nav__list {
    display: flex;
    align-items: center;
    column-gap: 118px;
}

.link {
    color: #114455;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 2px;
    border-bottom: 1px solid #114455;
    transition: border-bottom-color 0.2s ease-in;

    &:hover {
        border-bottom-color: red;
        transition: border-bottom-color 0.2s ease-in;
    }
}

// .btn {}