.title {
    font-size: 80px;
    font-weight: 800;
    color: $dark_grey;
}

.text {
    font-size: 28px;
    line-height: 1.57; // в макете 28/44 - 44 делим на 28 и получаем высоту строки 1.57 / так правильнее так как если уменьшить размер текста то высота уменьшится прапорционально / а с 44px он будет статичен 
    color: $dark_grey;

}