// fonts

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap'); // Work Sans"

body {
    font-family: $Gilroy;
    font-weight: 500;
}

.container {
    max-width: 1750px;
    padding: 0 110px;
    margin: 0 auto;
}