// fonts

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap'); // Work Sans"

body {
    font-family: $Gilroy;
    font-weight: 500;
}

.container {
    max-width: $container-width;
    padding: 0 $container-padding;
    margin: 0 auto; //центрирование
}

.container-right {
    padding-left: max(#{$container-padding}, calc((100% - #{$container-width}) / 2 + #{$container-padding}));
    // от 100% ширины экрана мы вычитаем ширину контейнера 1750px / это отступы с лева и с права которые у нас были бы по сторонам обычного контейнера  / затем делим это значение на два что бы получить один отступ который с лева и + с лева мы добавим отступ 15 px 
    border: 1px solid red;
    height: 40px;
}

.none {
    display: none;
}